#content {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
}
#verhistory, #maininfo {
    border: 2px solid green;
    border-radius: 5px;
    padding: 10px;
}
#maininfo{
    min-width: 20%;
}
#verhistory {
    margin-right: 25px;
}
hr {
    margin-top: 0;
    margin-bottom: 10px;
}
@media (max-width: 768px) {
    #content {
        flex-direction: column;
    }
    #verhistory, #maininfo {
        width: 90%;
    }
    #verhistory {
        margin-bottom: 10px;
    }
}