#ver {
    padding-top: 15px;
}
#nowinfo {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
    border-radius: 5px;
    font-size: 14px;
    width: auto;
    padding: 7px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
#mapname {
    background: none;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    font-size: 20px;
    margin-top: 15px;
}
#info {
    text-align: center;
}
#now {
    background: green;
}
#now {
    margin-top: 15px;
    border-radius: 5px;
    font-size: 14px;
    padding: 6px;
}

header, #main, #map, #container, footer input {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 
hr {
    margin: 0;
    padding: 0;
}
.logo img {
    height: 80px;
}
html, body {
    margin: 0;
    padding: 0;
    height: auto; 
    overflow: auto; 
}

#main {
    display: grid;
    grid-template-columns: 1fr 20%; 
    gap: 25px; 
    margin-bottom: 20px; 
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15px;
}

#container {
    border: 3px solid green;
    border-radius: 10px;
    height: 600px;
    width: 100%; 
    box-sizing: border-box;
    overflow: hidden;
}
#error {
    width: 50%;
    border-radius: 5px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    text-align: center;
    color: white;
}
#map {
    min-width: 250px; 
    border: 3px solid green;
    border-radius: 10px;
    height: 600px;
}

@media (max-width: 1300px) {
    #main {
        grid-template-columns: 1fr; 
        margin: 10px;
    }
    #container, #map {
        width: 97%; 
        margin-left: auto;
        margin-right: auto;
    }
    #map {
        height: auto;
    }
    #container {
        height: 55vh;
    }
}
footer {
    text-align: center;
}
table {
    width: 100%;
    text-align: center;
    line-height: 70px;
    border-collapse: collapse;
}
#back {
    margin-bottom: 20px;
}
#inputPos {
    padding: 5px;
    height: 30px;
    border: 3px solid green;
    border-radius: 7px;
}
td {
    border: 2px solid green;
    border-radius: 5px;
}
.edit {
    text-align: center;
    display: none; 
    position: relative;
    margin-top: 20px;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    animation: fadeIn 0.3s;
}
.edit-elements {
    background: #1c1c1c;;
    border: 3px solid green;
    width: 60%;
    height: auto;
    padding-bottom: 0;
    overflow: auto;
    margin: auto;
    border-radius: 5px;
}
.edit-elements p {
    margin: 10px;
}
.edit.fade-out {
    animation: fadeOut 0.3s forwards; 
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
.close:hover, .close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
#pgbar {
    display: none;
    text-align: center;
}
progress {
    background: green;
    margin-right: 5px;
}
button {
    text-shadow: 2px 2px 5px black;
}
#sendinfo{
    border-radius: 5px;
    font-size: 12px;
    padding: 5px;
    display: none;
}
.finfo {
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    background: green;
}
#back {
    display:inline-block;
}
#form {
    text-align: center;
}
#form input {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 20px;
}
#fpos {
    background: none;
    border: none;
    cursor: pointer;
}
#end {
    display: flex;
    justify-content: center;
}
#controls, #photoinfo {
    width: 300px;
    height: 100px;
    border: 3px solid green;
    border-radius: 5px;
}
#controls {
    margin-right: 20px;
}
#photoinfo p {
    margin: 10px;
}
#photoinfo {
    overflow: auto;
}
.dir {
    border: none;
    background: none;
    font-size: 28px;
}

.dir:hover {
    background: none;
}
#fpos {
    flex: 3;
}
#bedit {
    display: none;
}
#nowinfo * {
    width: auto;
}
/*.element {
    width: 160px;
    height: 300px;
    background: none;
}
.element img {
    width: 100px;
    height: 60px;
}
#elements {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.element p {
    margin: 5px;
}*/
#edit {overflow: hidden;}
.element {
    width: 160px;
    height: 280px;
    overflow: auto;
    background: none;
    border: 3px solid green;
}
.element img {
    width: 100px;
    height: 60px;
}
#elements {
    border: none;
    justify-items: center;
    border-radius: 5px;
    height: 330px;
    width: auto;
    overflow-y: auto;
    overflow-x: hidden;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}
.element p {
    margin: 5px;
}
#container img {
    transition: transform 0.2s;
    cursor: grab;
    position: absolute;
    width: 100%;
    height: auto;
}
#container {
    display: grid;
    place-items: center;
}
td:hover {
    background-color: #004a15;
    cursor: pointer;
}
send {
    margin-top: 0;
}