#reg {
    width: auto;
    font-weight: bold;
}
#toptext {
    text-align: center;
}
#send {
    font-weight: bold;
}
#elements {
    display: grid;
    width: 90%;
    grid-gap: 20px;
    border-spacing: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    
}
.element {
    text-align: center;
    border: 7px solid green;
    border-radius: 5px;
    padding: 10px;
    transition: transform 0.3s;
}   
.element:hover {
    transform: scale(1.05);
}
.element img {
    width: 320px;
    height: 240px;
    border-radius: 5px;
}
.element p {
    color: white;
}

#log {
    font-weight: bold;
    background-color: green;
    color: white;
}
#log:hover {
    background-color: black;
}
button {
    text-shadow: 2px 2px 5px black;
}

#newver {
    text-align: left;
}

.plogin {
    font-size: 12px;
    background: green;
    width: 60%;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
}
